__pycache__
./.coverage
./aclocal.m4
./autom4te.cache
./click.egg-info
./config.h
./config.h.in
./config.log
./config.status
./configure
./coverage.info
./coverage*.xml
./coveragereport
./libtool
./setup.py
./stamp-h1
.deps
.libs
*.la
*.lo
ABOUT-NLS
Makefile
Makefile.in
_build/doctrees
_build/html
doc/_build/doctrees
doc/_build/html
doc/_build/man
build
*.egg-info
dist
.tox
click_package/paths.py
click_package/tests/config.py
click_package/tests/preload.gir
click_package/tests/test_paths.py
build-aux/compile
build-aux/config.guess
build-aux/config.rpath
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
conf/databases/99_default.conf
debhelper/*.1
debian/*.debhelper*
debian/*.substvars
debian/autoreconf.*
debian/click-dev
debian/click
debian/click-doc
debian/files
debian/gir1.2-click-0.4
debian/libclick-0.4-0
debian/libclick-0.4-dev
debian/packagekit-plugin-click
debian/python3-click-package
debian/tmp
init/systemd/click-system-hooks.service
init/systemd/click-user-hooks.service
init/upstart/click-system-hooks.conf
init/upstart/click-user-hooks.conf
lib/click/*.c
lib/click/*.gir
lib/click/*.typelib
lib/click/click.h
lib/click/click-0.4.pc
lib/click/click-0.4.vapi
lib/click/libclick_0_4_la_vala.stamp
lib/click/paths.vala
lib/click/valac-wrapper
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
pk-plugin/com.ubuntu.click.policy
po/.intltool-merge-cache
po/ChangeLog
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/remove-potcdate.sed
po/stamp-it
po/*.gmo
po/*.header
po/*.sed
po/*.sin
